@import "./base.css";

/********* Animations *********/
@keyframes tostar{
  from{ 
      opacity: 0;
      transform: translateY(300%) rotateZ(-1deg);
  }
  to {
      opacity: 1;
      transform: translateY(0%)  rotateZ(0deg);
  }
}  


#app {
  min-height: 100vh;
  width: 100%;
  margin: 0 auto;
  padding: 0rem;
  background: url('./blob-scene-haikei.svg') no-repeat;
  background-size: cover;
  font-weight: normal;
}

.v-container {
  max-width: 1280px;
}
.v-application{
  background: transparent;
}
a,
.green {
  text-decoration: none;
  color: #ffffff;
  transition: all 0.4s ease-in-out;
}
.v-btn--size-large {
   padding: 0 0px;
}
.v-btn__content{
  width: 100%;
  height: 100%;
}
.v-btn__content a {
  width: inherit;
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
}
.v-timeline-item__body{
  max-width:300px;
  width: 100%;
}
.v-timeline-divider__dot{
  outline: 4px solid var(--secondary)!important;
}
.v-dialog .v-overlay__content {
  width: 100%!important;
  padding: 0px 20px 0px 20px;
  max-width: 600px;
/*   align-items: center; */
}
.box-remove .v-btn:hover > .v-btn__overlay {
  opacity: calc(0.4 * var(--v-theme-overlay-multiplier))!important;
  transition:all  250ms ease-in;
}
.box-remove .v-btn> .v-btn__overlay {
  opacity: calc(0.2 * var(--v-theme-overlay-multiplier))!important;
  transition:all  250ms ease-out;
}
.btn-edit{
  width: 35px;
  height: 35px;
}
.style-icon{
  min-width: 0px;
  border-radius: 50%;
}
.timeline-task{
  position: absolute;
  top: 0px;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100vh;
  width: 100%;
  z-index: 2;
  background: #ffffffe1;

}

.letter::first-letter, .v-list-item-title::first-letter,  .v-card-text::first-letter, .v-alert__content::first-letter {
  text-transform:capitalize;
}

/*********** TOSTAR STYLE****************/
.wrapper-tostar{
  position: relative;
  top: 2px;
}
.tostar-container{
  animation-name: tostar;
  animation-timing-function: cubic-bezier(0.10, 1.50, 1, 1);
  animation-fill-mode: forwards;
  animation-duration: 350ms;
  position: absolute;
  top: 80px;
  left: -2px;
  color: white;
  width: 100%;
  filter:drop-shadow(5px 5px 3px #80808094)
}
.tostar-container .v-alert__content {
  overflow: visible;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.v-alert__prepend {
  padding-top: 3px;
}
.v-alert__close {
  margin-inline-start: 10px;
}
.mdi-close{
  font-size: 2em;
}
.v-alert__close .v-btn__underlay{
  box-shadow: 0px 3px 0px #ffffff68;
  border: 1px solid #ffffff6b;
  transition: all 250ms ease-in;
  border-radius: 50%;
}
.v-alert__close:hover .v-btn__underlay{
  box-shadow: 0px 1px 0px #ffffff92;
  border: 1px solid #ffffff6b;
  transition: all 250ms ease-out;
}

.headline-medium {
  font-size: 17px!important; 
  font-weight: 500!important;
  font-style: inherit;
}

.v-list-item--nav .v-list-item-title{
  line-height: 1.2rem;
}
.v-navigation-drawer__content{
  position: relative;
}

.background-register-title{
  background-position-y:83%!important;
  letter-spacing: 2px;
  color:var(--primary)!important;
  font-size: 1.2em;
  text-shadow: 2px 2px 0px white, 2px 2px 2px var(--primary);
}
@media (hover: hover) {
  a:hover {
  
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

}


